% Erlang compiler options.
{erl_opts, [
    debug_info,
    {src_dirs, ["src", "test", "lib"]},
    {i, "include"},
    % warnings_as_errors,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard,
    warn_unused_import
]}.

{deps, [
    {ezk, "",
        {git, "https://github.com/infinipool/ezk.git",
        {branch, "master"}}}

]}.

% Which files to cleanup.
{clean_files, ["ebin/*.beam"]}.
